<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eat Yuk</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
  <a href="#maincontent" class="skip-link">Direct To Content</a>
  <header class="header">
    <app-bar></app-bar>
  </header>
  <main id="maincontent">
    <div class="heros-image">
      <h1 class="heros-text" tabindex="0">Eat Yuk, Everything About Food is Here.</h1>
    </div>
    <h2 class="restaurant-list-title" tabindex="0">Explore Restaurants</h2>
    <restaurant-list></restaurant-list>
    <h2 class="favorite-food-title" tabindex="0">Favorite Food</h2>
    <favorite-food></favorite-food>
  </main>
  <footer>
    <footer-bar></footer-bar>
  </footer>
</body>
</html>