:root {
  --background: #ffffff;
  --on-background: #1a1a1a;
  --accent: #eeeeee;
  --blue: #1d60dd;
  --orange: #ff7300; 
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 150vh;
  padding-top: 69px;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1 {
  font-size: 1.8em;
}

h2{
  font-size: 1.4em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--on-background);
  list-style: none;
  line-height: 1.5;
}

/* Skip To Content */
.skip-link {
  position: absolute;
  top: -250px;
  left: 0;
  background-color: var(--background);
  border: 2px solid var(--on-background);
  padding: 11px;
  z-index: 99;
}

.skip-link:focus {
  top: 0;
}
/* End To Skip Content */

/* App Bar */
app-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header {
  position: fixed;
  top: 0;
  background-color: var(--accent);
  width: 100%;
  z-index: 1;
}

.header__logo {
  width: 90px;
  margin: 20px 20px;
}

.nav {
  position: absolute;
  top: 67px;
  width: 100%;
  transform: translateX(-100%);
  transition: all .5s;
  background-color: var(--background);
  border-bottom: 1px solid var(--accent);
}

.nav__item {
  margin-bottom: 10px;
  background-color: var(--accent);
  border-radius: 10px;
  text-align: center;
  display: block;
  padding: 11px;
  margin: 10px;
  transition: all .1s;
}

.nav__item:hover {
  transform: scale(1.1);
}

.header__hamburger-wrapper {
  display: flex;
  justify-content: end;
}

.hamburger-link {
  margin: 10px;
  border-radius: 5px;
  width: 44px;
  height: 44px;
  font-size: 2em;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all .1s;
}

.hamburger-link:hover {
  transform: scale(1.1);
}

.nav.active {
  transform: translateY(0);
}
/* End App Bar */

/* Heroes */
.heros-image {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
        rgba(67, 67, 67, 0.5), 
        rgba(67, 67, 67, 0.5)
    ),  url("../public/images/heros/hero-image-small.webp");
  display: flex;
  align-items: center;
}

.heros-text {
  color: var(--background);
  padding: 0 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/* End Heroes App */

/* Restaurant List */
.restaurant-list-title {
  text-align: center;
  margin: 30px 0;

}

.restaurant-list {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.skeleton {
  background-color: #D6D6D6;
}

.content__location.skeleton {
  width: 69px;
  height: 34px;
  background-color: #969696;
}

.content__name.skeleton {
  height: 25px;
  margin-bottom: 3px;
  border-radius: 3px;
}

.content__rating.skeleton {
  height: 21px;
  margin-bottom: 3px;
  border-radius: 3px;
}

.content__description.skeleton {
  height: 144px;
  border-radius: 3px;
}

.restaurant-item {
  position: relative;
  margin: 0 15px 25px 15px;
  border-radius: 10px;
  border: 1px solid var(--accent);
  box-shadow: 0 -1px 3px -2px rgba(51,51,51,1);
  -webkit-box-shadow: 0 -1px 3px -2px rgba(51,51,51,1);
  -moz-box-shadow: 0 -1px 3px -2px rgba(51,51,51,1);
}

.restaurant-item h2 {
  font-size: 1.2em;
}

.restaurant__image-wrapper{
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.restaurant__image {
  border-radius: 10px 10px 0 0;
  width: 100%;
  transition: all .5s;
}

.restaurant__image:hover {
  transform: scale(1.1);
}

.restaurant__content {
  padding: 10px;
}

.content__location {
  position: absolute;
  top: 15px;
  left: 0px;
  border-radius: 0 5px 5px 0;
  background-color: var(--orange);
  padding: 5px 10px;
  color: var(--background);
}

.content__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; 
          line-clamp: 6; 
  -webkit-box-orient: vertical;
 
}
/* End Restaurant List */

/* Favorite Food */
.skeleton.food__title {
  height: 25px;
  width: 100px;
  margin-bottom: 3px;
  border-radius: 10px;
}

.skeleton.food__type {
  height: 34px;
  width: 77px;
  background-color: #969696;
}

.skeleton.food__area {
  height: 24px;
  border-radius: 10px;
}

.favorite-food-item {
  display: grid;
  margin: 20px;
}

.favorite-food-title {
  text-align: center;
}

.food__type {
  padding: 5px 10px;
  width: fit-content;
  color: var(--background);
  background-color: var(--orange);
  border-radius: 10px;
  margin-bottom: 10px;
}

favorite-food img {
  width: 100%;
  border-radius: 10px;
  margin: auto;
}
/* End Favorite Food */

/* Footer */
footer {
  background-color: var(--accent);
}

footer-bar {
  display: grid;
  padding: 20px;
}

.footer__description {
  margin-bottom: 20px;
}

.footer__social-media img {
  width: 44px;
  height: 44px;
  transition: all .2s;
}

.footer__social-media img:hover {
  transform: scale(1.1);
}

.footer__social-media a {
  margin-right: 20px;
  height: 44px;
  width: 44px;
  display: inline-block;
}
/* End Footer */


/* Detail */
.detail__image {
  width: 100%;
}

.detail__content, .detail__review, .detail__menus, .detail__input-review {
  margin: 0 15px;
}

.detail__description {
  margin: 10px 0;
}

/* End Detail */

/* Review */
.review-identity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.review-item {
  margin-bottom: 10px;
  background-color: var(--accent);
  padding: 10px;
  border-radius: 5px;
}

.review__title {
  margin-top: 20px;
  margin-bottom: 15px;
}

.detail__review {
  margin-bottom: 40px;
}
/* End Review */

/* Categories */
.detail__header {
  display: flex;
  flex-wrap: wrap;
}

.detail__categories {
  display: flex;
  gap: 10px;
}

.detail__categories p {
  background-color: var(--orange);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}
/* End Categories */

/* Menus */
.menu-item {
  display: inline-block;
}

.menu-item {
  background-color: var(--accent);
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 7px;
  border-radius: 5px;
}

.detail__menus {
  margin-top: 30px;
}

.detail__name {
  margin-right: 20px;
}

.detail__location {
  margin-top: 5px;
}

.menus__title {
  margin-top: 20px;
  margin-bottom: 15px;
}
/* End Menus */

/* Like Button */
#like__button, #liked__button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  background-color: var(--orange);
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  transition: all .3s;
}

.likeBtnContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#like__button:hover, #liked__button:hover {
  transform: scale(1.05);
}
/* End Like Button */

/* Input Review */
.detail__input-review {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input__submit {
  background-color: var(--orange);
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: none;
  height: 44px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s;
}

.input__submit:hover {
  transform: scale(1.01);
}

.input__title {
  margin-top: 20px;
  margin-bottom: 5px;
}

.input__name, .input__review {
  height: 44px;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
}

.input__review {
  height: 100px;
  resize: none;
  font-family: 'Roboto', sans-serif;
}

/* End Input Review */

/* Loading */
.load__container {
  width: 60px;
  height: 60px;
  margin: 50px auto;
}

@keyframes pulse {
  0%{
    transform: scale(1);
  }
  
  50%{
    transform: scale(1.25);
  }
}

.load__circle {
  height: 100%;
  width: 100%;
  display: inline-block;
  background-color: var(--orange);
  border-radius: 100%;
  animation: pulse 1s infinite;
}

.failed__text {
  text-align: center;
}
/* End Loading */